<h1>Core#product_catalogue</h1>

<li> <b><%= link_to "home page", :action => "index" %></b> </li>
<li> <b><%= link_to "product", :action => "product_catalogue" %></b> </li>
<li> <b><%= link_to "orders", :action => "submitted_orders" %></b> </li>
<p>Find me in app/views/core/product_catalogue.html.erb</p>
