<div id="navigation" role="navigate"> 
  <ul>
    <li><%= link_to "Home Page", :action => "index" %> </li>
   <li><%= link_to "Products", :action => "product_catalogue" %> </li>
   <li><%= link_to "submitted orders", :action => "submitted_orders" %></li>
</ul>
</div>
